.HeaderContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.PageTitle {
  font-size: 50px;
  color: white;
}

.PageSubtitle {
  font-size: 20px;
  color: white;
}

.PageIntroContainer {
  width: 66%;
  height: 20vh;
  display: table;
  text-align: center;
}

.PageIntro {
  width: 66%;
  height: 80%;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  color: white;
  align-self: center;
  justify-content: center;
}