

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(#01256e, #95001a ,#01256e );
}

/*background: linear-gradient(#95001a 1%, #01256e, #95001a);*/